.bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
    font-weight: bold;
}

body{
    background-color: #F7F2EB;
    padding: 50px;
}

h2{
    font-family: "BBH Hegarty", sans-serif;
    color: #2D2D2C;
    font-weight: bold;
}

p, li{
    color: #6E3511;
    font-family: 'Times New Roman', Times, serif;
}

img{
    border: 5px solid #8B9A6E;
    width: 600px;
    height: 300px;
}



